.App {
  text-align: center;
 
}
body{
  background-color: #f7f778;
}


*{
  font-family: 'sugarpunch';
}
#Nav {
  width: 100%;
  background-color: blueviolet;
  font-size: 20pt;
  text-align: justify;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*.Nav-link{

  
}*/

@font-face {
  font-family: 'knucledown';
  src: url('./typefaces/knuckle down.otf') format("opentype");
}

@font-face {
  font-family: "sugarpunch";
  src: url("./typefaces/SugarpunchDEMO.otf") format("opentype");
}