.App {
  text-align: center;
}


*{
  font-family: 'sugarpunch';
}

@font-face {
  font-family: 'knucledown';
  src: url('./typefaces/knuckle down.otf') format("opentype");
}

@font-face {
  font-family: "sugarpunch";
  src: url("./typefaces/SugarpunchDEMO.otf") format("opentype");
}